__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/

vector_db/
chroma_db/
chat_history/
data/
uploads/

md5.text
parent_store.json
child_store.json

.env
.env.*
!.env.example

.idea/
.vscode/
.DS_Store
